$background: #444;
$text: #fff;
$available: #008cd2;
$warning: #edde43;
$occupied: #e3394f;
$error: #df42ff;


.widget-space {
  li {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 25px;

    h3 {
      font-size: 30px;
      font-weight: bold;
    }

    h2 {
      font-size: 25px;
      font-weight: bold;
    }

    h4 {
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
    }

    tr {
      font-size: 20px
    }

    p &.updated-at {
      font-size: 10px;
    }

    &.available {
      background-color: $available;

      p {
        &.updated-at {
          color: lighten($available, 20%);
        }
      }
    }

    &.yellow {
      background-color: $warning;

      p {
        &.updated-at {
          color: lighten($warning, 20%);
        }
      }
    }

    &.occupied {
      background-color: $occupied;

      p {
        &.updated-at {
          color: lighten($occupied, 20%);
        }
      }
    }

    &.error {
      background-color: $error;

      p {
        &.updated-at {
          color: lighten($error, 20%);
        }
      }
    }

    div {
      &.floated {
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
      }

      &.h3 {
        font-size: 30px;
        font-weight: bold;
      }

      &.h4 {
        font-size: 15px;
        text-transform: uppercase;
      }
    }
  }
}