<% content_for :title do %>
  Locomote meeting room dashboard
<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="dubai" data-view="Space" data-title="Dubai" ></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="melbourne" data-view="Space" data-title="Melbourne" ></div>
    </li>
    <li  data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="sanfrancisco" data-view="Space" data-title="San Francisco"  ></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="vizzini" data-view="Space" data-title="Vizzini" ></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="schedule" data-view="Schedule" data-title="" ></div>
    </li>
     
  </ul>
</div>
