<% content_for :title do %>
  Locomote meeting room dashboard
<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="vizzini" data-view="Text" data-title="Vizzini" data-text="This is your shiny new dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="sanfrancisco" data-view="Text" data-title="San Francisco" data-text="This is your shiny new dashboard." ></div>
    </li>

     <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="melbourne" data-view="Text" data-title="Melbourne" data-text="This is your shiny new dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>
     <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="dubai" data-view="Text" data-title="Dubai" data-text="This is your shiny new dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>

    
  </ul>
</div>
