<% content_for :title do %>
  Locomote meeting room dashboard
<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="vizzini" data-view="Health" data-title="Vizzini" data-status="" data-moreinfo=""></div>
    </li>
    <li  data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="sanfrancisco" data-view="Health" data-title="San Francisco" data-status="" ></div>
    </li>

     <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="melbourne" data-view="Health" data-title="Melbourne" data-text="" data-moreinfo=""></div>
    </li>
     <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="dubai" data-view="Space" data-title="Dubai" data-text="" data-moreinfo=""></div>
    </li>

     
  </ul>
</div>
